<head th:fragment="calendarfiles">
    <!--  FullCalendar Files  -->
    <link th:href='@{fullcalendar/core/main.css}' rel='stylesheet'/>
    <link th:href='@{fullcalendar/daygrid/main.css}' rel='stylesheet'/>
    <link th:href='@{fullcalendar/timegrid/main.css}' rel='stylesheet' />

    <script th:src='@{fullcalendar/core/main.js}'></script>
    <script th:src='@{fullcalendar/daygrid/main.js}'></script>
    <script th:src='@{fullcalendar/timegrid/main.js}'></script>
    <script th:src='@{fullcalendar/resource-common/main.js}'></script>
    <script th:src='@{fullcalendar/resource-daygrid/main.js}'></script>
    <script th:src='@{fullcalendar/resource-timegrid/main.js}'></script>
    <script th:src="@{js/general-calendar.js}"></script>
    <script th:src="@{fullcalendar/interaction/main.js}"></script>
</head>