<!-- Begin Page Content -->
<div class="container-fluid" th:fragment="clients-general">
<script th:src ="@{/js/clients-general.js}"></script>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Client information</h1>
    </div>

    <!-- Content Row -->
    <div class ="col-md-12">
        <table id = "clients_table" class="table display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
        <div id = "delete-client-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-7" id="clients-general">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#client_modal">
                Add new client
            </button>
            <div class="modal fade" id="client_modal" tabindex = "-1" role ="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new client</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id ="client_form">
                                <div class = "form-group">
                                    <label for = "client_name" class = "col-form-label"> Name</label>
                                    <input required  name = "nombre" type = "text" class = "form-control" id = "client_name">
                                    <label for = "client_last_name" class = "col-form-label"> Last Name</label>
                                    <input required  name = "apellido" type = "text" class = "form-control" id = "client_last_name">
                                    <label for = "client_phone" class = "col-form-label"> Phone</label>
                                    <input required  name = "numTelefono" type = "text" class = "form-control" id = "client_phone">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button form = "client_form" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->