<!-- Begin Page Content -->
<div class="container-fluid" th:fragment="index">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">¡Proyecto final!</h1>
            <p class="lead">Fundamentos de Base de Datos</p>
            <hr class="my-4">
            <p>Sebastián de la Riva</p>
            <p>Christhoper Ochoa</p>
            <p>Julieta Navarro</p>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
