

<!-- Begin Page Content -->
<div class="container-fluid" th:fragment="managers">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manager Information</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-7" id="managers">

            <!-- Tabla -->
            <table id="managers_table" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Local</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Pancho</td>
                    <td>Pandillero</td>
                    <td>614589715</td>
                    <td>Delicias</td>
                </tr>
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function() {

                $.ajax({
                    url : "/api/managers",
                    type: "GET"
                })
            } );
        </script>

    </div>

 </div>
<!-- /.container-fluid -->

