<!-- Begin Page Content -->
<div class="container-fluid" th:fragment="packages">
    <script th:src ="@{/js/packages.js}"></script>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Promo information</h1>
    </div>

    <div class ="col-md-12">
        <table id = "packages_table" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Detalles</th>
                <th>Costo</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-7" id="packages">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#package_modal">
                Add new package
            </button>
            <div class="modal fade" id="package_modal" tabindex = "-1" role ="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new package</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id ="package_form">
                                <div class = "form-group">
                                    <label for = "package_description" class = "col-form-label"> Descripción</label>
                                    <input required  name = "descripcion" type = "text" class = "form-control" id = "package_description">
                                    <label for = "package_details" class = "col-form-label"> Detalles</label>
                                    <input required  name = "detalles" type = "text" class = "form-control" id = "package_details">
                                    <label for = "package_cost" class = "col-form-label"> Costo</label>
                                    <input required  name = "costo" type = "text" class = "form-control" id = "package_cost">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button form = "package_form" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->